footer.footer.pt-5.pb-4(style="background: url('img/general/footer-bg.jpg') no-repeat center/cover")
	.container
		.row
			a.logo.col-md-4.col-xl-3.mb-3.mb-md-0(href="/")
				img(src="img/general/logo.png", alt="")
			.col-md-8.col-xl-6.px-4
				.footer-nav.d-flex.justify-content-between.text-small.flex-column.flex-md-row
					ul.not-decoration
						li: a.link(href="") Грузоперевозки
						li: a.link(href="") Маршруты
						li: a.link(href="") Сборные грузы
					ul.not-decoration
						li: a.link(href="") Складские услуги
						li: a.link(href="") Таможенное оформление
						li: a.link(href="") Страхование
					ul.not-decoration
						li: a.link(href="") Аутсорсинг ВЭД
						li: a.link(href="") Информация
						li: a.link(href="") Контакты
			.col-xl-3.d-flex.d-xl-block.justify-content-center.justify-content-md-end.mt-4.mt-xl-0
				a.link.d-inline-flex.icon-link.icon-link__phone.align-items-center(href="")
					img.pr-2(src="img/general/phone.png", alt="")
					span.not-wrap +7 (495) <b>668-04-40</b>
		.copyright.d-flex.justify-content-between.flex-column.flex-md-row
			small.mb-2.mb-md-0: a.link(href="") © 2016. ООО "Эдельвейс транспорт"
			small: a.link(href="") © 2016. Создание сайта ДиВиЕР

